<div class="background-top">
  <div class="d-flex justify-content-between">
    <%= image_tag('Logo.png', class: "logo") %>
    <%= image_tag('CatIcon.png', class: "cat") %>
  </div>
  <div>
    <h2 class="headers"><%= current_user.garden_name.capitalize %></h2>
  </div>
</div>


<div class="location-container" style="margin-bottom: 4rem;">
  <% @plants.each do |plant| %>
    <div class="card">
      <div class="card-info">
        <div>
          <%= image_tag('add-picture.svg', class: "image_location") %>
        </div>
        <div class="location-text">
          <h2 style="margin-bottom: 0px"><strong><%= plant.name.capitalize%></strong></h2>
          <p style="margin-bottom: 0px">State: <%=plant.state %></p>
          <p style="margin-bottom: 0px">Last time taken care of: <%= plant.updated_at.to_formatted_s(:nice)%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
