<div class="background-top fixed-top">
  <div class="d-flex justify-content-between">
    <%= image_tag('Logo.png', class: "logo") %>
    <%= image_tag('CatIcon.png', class: "cat") %>
  </div>
  <div class="message-container"> <%# TODO: ADD RUBY AFTER WITH CONDITIONS %>
    <div>
      <p style="font-size: 13px;" class="mx-2 headerp">
      <%# TODO: ADD ONLY 4 LOCATIONS WITH THE CONDITION  %>
      <% status = Plant.where(state: %i[dehydrated messy degradated dying...]).limit(5) %>
      <% if @plants.empty? %>
          Meowdy <strong><%= current_user.username.capitalize %></strong>, as it's your first time here, in order to have plants🪴, you need
        to plant them in your desired location by clicking the + button.
      <% elsif status.any? %>
        <strong><%= current_user.username.capitalize %></strong>, please make sure to take care of
        <% status.each_with_index do |plant, index| %>
          <strong><%= "#{plant.name}🪴" %></strong><%=(index == status.size - 1 ? "..." : ", ") %>
        <% end %>
      <% else %>
        <strong><%= current_user.username.capitalize %></strong>, you are doing an amazing job at taking care of your plants🪴. Keep it up!
      <% end %>
      </p>
    </div>
  </div>
</div>


<div class="location-container" style="margin-bottom: 4rem;">
  <% @plants.each do |plant| %>
    <div class="card">
      <div class="card-info">
        <div>
          <% if plant.level == 1 %>
            <%= image_tag('Level2.png', class: "image_plants mt-3") %>
          <% elsif plant.level == 2 %>
            <%= image_tag('Level3.png', class: "image_plants mt-3") %>
          <% elsif plant.level == 3 %>
            <%= image_tag('Level4.png', class: "image_plants mt-3") %>
          <% else %>
            <%= image_tag('Level1.png', class: "image_plants mt-3") %>
          <% end %>
        </div>
        <div class="location-text">
          <h2 style="margin-bottom: 0px"><strong><%= plant.name.capitalize%></strong></h2>
          <p style="margin-bottom: 0px">State: <%=plant.state.capitalize %></p>
          <p style="margin-bottom: 0px">Last updated: <%= TimeDifference.between(Time.now, plant.updated_at).in_days.floor() %> days ago</p>
          <p class="pt-3"><%= link_to "Logs", logs_path, class: "btn-normal"%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
