<div class="background-top" data-controller="messages">
  <div class="d-flex justify-content-between">
    <%= image_tag('Logo.png', class: "logo") %>
    <%= image_tag('CatIcon.png', class: "cat") %>
  </div>
  <div class="message-log-container"> <%# TODO: ADD RUBY AFTER WITH CONDITIONS %>
    <div>
      <p style="font-size: 11px;" class="m-1">
        In order to treat your plant, choose your action! Don't forget to hit save!
      </p>
    </div>
</div>

<div class="container-carousel">

  <div class="carousel-card position-absolute top-0 end-50">
    <div class="card-info-log">
      <div class="back-arrow">
        <%= link_to location_path(@location) do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
      </div>
      <h2 style="text-align: center"><%= @plant.name.capitalize %> </h2>
    </div>


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner d-flex justify-content-center">
        <div class="carousel-container ">
          <div class="carousel-item active">
            <%= image_tag('potted-plant.webp', class: "logs-carousel-img") %>
          </div>
        </div>
      </div>
      <div class="actions-wrapper">
        <div class="actions-box">
          <div class="card-info-drop mb-2">
            <label for="exampleFormControlFile1", style="text-align: center">What's your action?</label>
          </div>
          <div class="btn-action-group">
            <div class="btn-group" role="group" aria-label="Basic outlined example" data-controller="disable-button">
              <button type="button" class="btn btn-action-card-1" data-action="click->disable-button#disable" data-disable-button-target="water"> <%= image_tag('WaterCan.png', class: "btn-action-img") %></button>
              <button type="button" class="btn btn-action-card-2" data-action="click->disable-button#disable" data-disable-button-target="trim"> <%= image_tag('trimmer.png', class: "btn-action-img") %></button>
              <button type="button" class="btn btn-action-card-3" data-action="click->disable-button#disable" data-disable-button-target="soil"> <%= image_tag('soil_1.png', class: "btn-action-img") %></button>
            </div>
          </div>
        </div>
      </div>

      <div class="new-log-container position-absolute " ><%#TODO: change class name%>
        <div class="form-log-plant">
          <%= simple_form_for [@plant, @log] do |f| %>
            <div class="d-none">
              <%= f.input :categories, as: :radio_buttons, collection: ["water","trim","soil"] %>
            </div>
              <p style="text-align: center"><em>Today's story:</em></p>
            <%= f.input :content, label: false %>
            <%= f.submit "Save", class: "btn btn-primary-log" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
