<div class="background-top fixed-top">
  <div class="d-flex justify-content-between">
    <%= image_tag('Logo.png', class: "logo") %>
    <%= image_tag('CatIcon.png', class: "cat") %>
  </div>
  <div>
    <h2 class="headers"><%= current_user.garden_name.capitalize %></h2>
  </div>
</div>

<!-- Button trigger modal -->
<div class="create_plant d-flex justify-content-end">
  <a type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <%= image_tag('AddButton.png', class: "create-cat grow") %>
  </a>
</div>

<div class="location-container" style="margin-top: 5rem; margin-bottom: 4rem;">
  <% @locations.each do |location| %>
    <div class="card">
      <div class="card-info">
      <div>
        <%= image_tag('add-picture.svg', class: "image_location") %>
        </div>
        <div class="location-text">
          <h2 style="margin-bottom: 0px"><strong><%= location.name.capitalize %></strong></h2>
          <p style="margin-bottom: 0px"> plants🪴: <%= location.plants.count %></p>
          <p class="pt-3" style="z-index: 5;"><%= link_to "Go",location_path(location), class: "btn-normal" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
