<div class="background-top" data-controller="messages">
  <div class="d-flex justify-content-between">
    <%= image_tag('Logo.png', class: "logo") %>
    <%= image_tag('CatIcon.png', class: "cat") %>
  </div>
  <div class="message-container"> <%# TODO: ADD RUBY AFTER WITH CONDITIONS %>
    <div>
      <p style="font-size: 13px;" class="mx-2 headerp">
      <% if @locations.empty? %>
        Welcome to Blissful Blooms <strong><%= current_user.username.capitalize %></strong>, to start make sure to create your first location.
      <% elsif @status.any?  %>
        Welcome back <strong><%= current_user.username.capitalize %></strong> you have plants🪴 to take care of at
        <% @status.each do |location| %>
          <strong><%="#{location.name}, " %></strong>
        <% end %>
      <% elsif @plants.count.zero? %>
        Meowdy <strong><%= current_user.username.capitalize %></strong>, as it's your first time here, in order to have plants🪴, you need
        to plant them in your desired location by clicking the + button.
      <% else %>
        Welcome back <strong><%= current_user.username.capitalize %></strong>, all your plants🪴 are healthy meowie! Keep up the good work!
      <% end %>
      </p>
    </div>
  </div>
    <h2 class="headers"><%= current_user.garden_name.capitalize %></h2>
</div>


<div class="recents-container">
  <% @recent.each do |location| %>
    <div class="recent-container">
      <div class="container-info">
        <% if location.photo.attached? %>
          <div class="placeholder" style="background-image: url('<%= cl_image_path location.photo.key, height: 300, gravity: "auto", crop: :fill %>'); opacity: 1">
          </div>
        <% else %>
          <div class="placeholder2">
          </div>
        <% end %>
        <div style="margin-left: 1rem; margin-top: 0.5rem;">
          <h4 class="location-name"><%= location.name.capitalize %></h4>
          <p><%= location.plants.count %> plants🪴<p>
        </div>
        <div class="text-center" style="margin-top: 3rem;">
          <%= link_to "Go", location_path(location), class: "btn-normal" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
