<div class="background-top" data-controller="messages">
  <div class="d-flex justify-content-between">
    <%= image_tag('Logo.png', class: "logo") %>
    <%= image_tag('CatIcon.png', class: "cat") %>
  </div>
  <div class="message-container"> <%# TODO: ADD RUBY AFTER WITH CONDITIONS %>
    <div>
      <p style="font-size: 12px;" class="mx-2 headerp">
      Welcome back <%= current_user.username.capitalize %> please make sure to take care of
      <% if @status.any?  %>
        <% @status.each do |plant| %>
          <%= "#{plant.name}🪴 at #{plant.location.name}, " %>
        <% end %>
      <% end %>
      </p>
    </div>
  </div>
    <h2 class="headers"><%= current_user.garden_name.capitalize %></h2>
</div>


<div class="recents-container">
  <% @recent.each do |location| %>
    <div class="recent-container">
      <div class="container-info">
        <div class="placeholder">
        </div>
        <div style="margin-left: 1rem; margin-top: 0.5rem;">
          <h4 class="location-name"><%= location.name.capitalize %></h4>
          <p><%= location.plants.count %> plants🪴<p>
        </div>
        <div class="text-center" style="margin-top: 3rem;">
          <%= link_to "Go", location_path(location), class: "btn-normal" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
