
<div class="background-top fixed-top">
  <div class="d-flex justify-content-between">
    <%= image_tag('Logo.png', class: "logo") %>
    <%= image_tag('CatIcon.png', class: "cat") %>
  </div>
  <div>
    <h2 class="headers"><%= @location.name %></h2>
  </div>
</div>

  <div type="button" class ="create_plant d-flex justify-content-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <a data-toggle="modal" data-target="#exampleModalCenter">
      <%= image_tag('CatIcon.png', class: "cat grow") %>
    </a>
  </div>

<div class="location-container" style="margin-top: 7rem; margin-bottom: 4rem;">
  <% @location.plants.each do |plant| %>
    <div class="card">
      <div class="card-info">
        <div>
          <%= image_tag('add-picture.svg', class: "image_location") %>
        </div>
        <div class="location-text">
          <h2 style="margin-bottom: 0px"><strong><%= plant.name%></strong></h2>
          <p style="margin-bottom: 0px">age<%=plant.age %></p>
          <p style="margin-bottom: 0px">level<%= plant.level%></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
