
<div class="background-top fixed-top">
  <div class="d-flex justify-content-between">
    <%= image_tag('Logo.png', class: "logo") %>
    <%= image_tag('CatIcon.png', class: "cat") %>
  </div>
  <div>
    <h2 class="headers"><%= @location.name %></h2>
  </div>
</div>

  <div type="button" class ="create_plant d-flex justify-content-end">
      <%= link_to image_tag('CatIcon.png', class: "cat grow"), new_location_plant_path(@location)%>
  </div>

<div class="location-container" style="margin-top: 7rem; margin-bottom: 4rem;">
  <% @location.plants.each do |plant| %>
    <div class="card">
      <div class="card-info">
        <div>
          <%= image_tag('add-picture.svg', class: "image_location") %>
        </div>
        <div class="location-text">
          <h2 style="margin-bottom: 0px"><strong><%= plant.name.capitalize%></strong></h2>
          <p style="margin-bottom: 0px">
          <% time = Time.new %>
          <% days_difference = (time.to_date - plant.created_at.to_date).to_i %>
          <% remaining_days = days_difference % 365 %>
          <% days = remaining_days % 30 %>
          <% months = remaining_days / 30 %>
          <% years = days_difference / 365 %>
          <% if years > 0 %>
            <%= "#{years} years old!" %>
          <% elsif months > 0 %>
            <%= "#{months} months old!" %>
          <% else %>
            <%= "#{days} days old!" %>
          <% end %>
          </p>
          <div class="level-container text-center"><p style="margin-bottom: 0px">
          <% if plant.level == 0 %>
            Lvl.0
          <% else %>
            <%= "Lvl.#{plant.level}" %>
          <% end %>
          </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
