<div class="container-footer fixed-bottom" data-controller="color-button">
  <ul>
    <li>
      <%= link_to homepage_path do %>
        <i class="fa-solid fa-house <%= request.fullpath === '/homepage' ? "active" : "" %>"></i>
      <% end %>
    </li>
    <li>
      <%= link_to plants_path do %>
        <i class="fa-solid fa-seedling <%= request.fullpath === '/plants' ? "active" : "" %>"></i>
      <% end %>
    </li>
    <li>
      <%= link_to locations_path do %>
        <i class="fa-solid fa-map <%= request.fullpath === '/locations' ? "active" : "" %>"></i>
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        <i class="fa-solid fa-book <%= request.fullpath === '/logs' ? "active" : "" %>"></i>
      <% end %>
    </li>
    <li>
      <%= link_to profile_path do %>
        <i class="fa-solid fa-user <%= request.fullpath === '/profile' ? "active" : "" %>"></i>
      <% end %>
    </li>
  </ul>
</div>
