<div class="container-footer fixed-bottom">
  <ul>
    <li>
      <%= link_to homepage_path do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        <i class="fa-solid fa-seedling"></i>
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        <i class="fa-solid fa-map"></i>
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        <i class="fa-solid fa-book"></i>
      <% end %>
    </li>
    <li>
      <%= link_to root_path do %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </li>
  </ul>
</div>
